/* ::::: http://www.csszengarden.com/207/207.css ::::: */

html { margin: 0px; padding: 0px; }
body { font-family: Arial,Helvetica,sans-serif; line-height: 18px; font-size: 12px; color: rgb(6, 24, 92); background: url('body_bg.jpg') no-repeat scroll center top rgb(230, 250, 214); margin: 0px; padding: 0px; }
body a:link, a:active, a:visited { text-decoration: none; color: rgb(114, 10, 11); }
body a:hover { text-decoration: underline; }
p { margin: 10px; padding: 0px; }
h3 { display: none; }
ul { list-style-type: none; padding-left: 0px; margin-left: 0px; }
li { background: url('bullet.gif') no-repeat scroll left center transparent; padding-left: 7px; margin-bottom: 5px; }
acronym { border-bottom: medium none; }
#container { margin: auto; width: 892px; background: url('content_bg_top.jpg') no-repeat scroll center top transparent; position: relative; }
#intro { width: 892px; height: 451px; }
#pageHeader { background: url('header_what_about.gif') no-repeat scroll center top transparent; height: 34px; overflow: hidden; position: absolute; top: 462px; left: 205px; width: 587px; }
#pageHeader span { display: none; }
#quickSummary { display: none; }
#preamble { padding: 240px 100px 0px 205px; }
#preamble p.p1 { margin-top: 20px; }
#supportingText { background-image: url('content_tile.jpg'); height: 100%; }
#explanation { padding: 50px 100px 30px 205px; background: url('content_bg_bottom.jpg') no-repeat scroll center top transparent; height: 100%; }
#participation { margin: 20px 100px 30px 205px; padding-top: 40px; background: url('header_participation.gif') no-repeat scroll center top transparent; height: 100%; }
#benefits { margin: 65px 100px 30px 205px; padding-top: 40px; background: url('header_benefits.gif') no-repeat scroll center top transparent; height: 100%; }
#requirements { margin: 65px 100px 30px 205px; padding: 40px 0px 15px; background: url('header_requirements.gif') no-repeat scroll center top transparent; border-bottom: 1px solid rgb(114, 10, 11); height: 100%; }
#footer { padding: 10px; text-align: center; }
#linkList { position: absolute; width: 150px; top: 603px; z-index: 5; color: rgb(102, 102, 102); font-size: 10px; left: 25px; height: 550px; line-height: 13px; }
#linkList a:link, a:active, a:visited { color: rgb(17, 60, 5); text-decoration: none; }
#linkList a:hover { text-decoration: underline; }
#lselect { background: url('header_select_design.gif') no-repeat scroll left top transparent; margin: 5px 0px 0px; padding: 20px 0px 0px; width: 150px; }
#larchives { background: url('header_archives.gif') no-repeat scroll left top transparent; margin: 10px 0px 0px; padding: 30px 0px 0px; width: 150px; }
#lresources { background: url('header_resources.gif') no-repeat scroll left top transparent; margin: 15px 0px 0px; padding: 30px 0px 0px; width: 150px; }
.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.btn:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
